 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p> </p>
                    <h2>Welcome</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <table class="intro">
                    <tr>
                        <td style="width:70%" valign="top">

                            Our research focuses on the detection and understanding of the mechanisms of origin of genomic Structural Variation (SV),
                            to advance comparative genomics, biomedical research and ultimately, clinical care. SVs are an understudied form of genomic
                            variation that includes deletions, duplications, insertions, inversions, and translocations. They represent an important class
                            of variation, as in aggregate, they impact more of the human genome than does single nucleotide variation. The core strength of the Sedlazeck lab
                            is to develop new methods and algorithms to obtain a deeper understanding of the underlying molecular biology. We are doing this with a focus
                            on large scale genomics (hundreds of thousands of samples) and the application of novel technologies (e.g. long reads such as PacBio or Oxford Nanopore).
                            Utilizing this we uncovered novel complexity accross human evolution, diseases (e.g. neurological, mendelian, cardiovascular), cancer (e.g. breast or viral associated),
                            but also non-human based. The latter either to improve our understanding of human variations (e.g. rhesus macaque) or to improve certain phenotypes (e.g. tomato, yeast)

                            <br><br>


                            Going forward, the Sedlazeck lab utilizes novel biotechnology and develops algorithms to improve our understand of human diseases with
                            a special focus on adult diseases. To achieve this, we have experience in phasing, methylation calling and variant calling in complex
                            regions of the human genome. We also leverage both mapping and assembly approaches to obtain a comprehensive insight at the sample at
                            hand. In addition to comprehensive genomics, we apply these approaches at scale to improve heritability and association of certain
                            diseases. This is only possible with a dedication of scalable algorithms, cloud infrastructure and the application of machine learning
                            techniques together with high filtering and quality control standards. As such our lab contributes to Topmed, CCDG, ADSP and other
                            consortia to push innovation across genomics and genetics to address questions of evolution, diseases and development.


                            <br><br>

                        </td>

                        <td style="width:30%" valign="top" align=center>
                            <br>

                            <img src="img/Fritz_vienna.png" width="230" height="150" border="2">

                            <br><br>

                            <table class="intro">
                                <tr>
                                    <td align="left">
                                        <b>Fritz J Sedlazeck</b><br>
                                        <br>
                                        Associate Professor<br>
                                        <br>
                                        Human Genome Sequencing Center<br>
                                        Baylor College of Medicine<br>
                                        Houston, TX US<br>
                                        <br>
                                        Cell:  (713) 798-4951 <br>
                                        E-mail: Fritz.Sedlazeck &lt;at&gt; bcm.edu <br>
                                        Twitter: <a href="https://twitter.com/sedlazeck">@sedlazeck</a> <br>
                                        ORCID: <a href="https://orcid.org/0000-0001-6040-2691"> 0000-0001-6040-2691</a> <br>
                                        Publons: <a href="https://publons.com/researcher/444463/fritz-j-sedlazeck/">E-4548-2018 </a> <br>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </div>


</section>
