 <!-- About Section -->
    <section class="success" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p> </p>
                    <h2>Applying to our lab</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <table class="intro">
                    <tr>
                        <td>
                            <h4>Computational Post-Doctoral Researchers</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Applications are invited for a computational postdoctoral research position in my lab at Human Genomes Sequencing Center at Baylor College of Medicine (Houston, Texas). The researcher will develop novel methods for large scale DNA-seq, RNA-Seq and other omics data related to human, but also other organisms. Potential projects include SVs detection, SVs impact estimation and population scale research.
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <u>Ideal applicant will have:</u><br>
                            <ul>
                                <li>
                                    A Ph.D. degree in Computer Science, Applied Mathematics, or related fields with a dissertation related to Computational Biology.
                                </li>
                                <li>
                                    Strong programming and analytical skills, including experience with next-generation sequencing data.
                                </li>
                                <li>
                                    Published at least two first author papers in English and demonstrated written communication skills in English.
                                </li>

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            To apply, please email me a letter of interest and current CV at fritz.sedlazeck @ bcm.edu
                        </td>
                    </tr>

                </table>
            </div>

        </div>
</section>
