 <!-- About Section -->
    <section class="success" id="people">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p> </p>
                    <h2>Lab Members</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class=" col-lg-8 col-lg-offset-2">
                <table class="intro">

                    <tr><td colspan=3>&nbsp;<br></tr>

                    <tr>
                        <td><img alt="headshot" src="img/Fritz_vienna.png" style="width: 200px; height: 150px;"></td>
                        <td> <b>Fritz Sedlazeck, Ph.D.</b><br> Associate Professor <br> </tdstyle="text-align:>
                        <td> Office: Alkek 1619 <br> Phone: 713 798-4951 <br> fritz.sedlazeck [at] bcm.edu<br> <a href="/">Home page</a><br> </td>
                        
                    </tr>

                    <tr><td colspan=3>&nbsp;<br></tr>
                    <tr>
                        <td> <a href="https://github.com/MeHelmy"><img alt="headshot" src="img/medhat_200px.png" style="width: 150px; height: 200px;"></a></td>
                        <td> <b>Medhat Mahmoud,<br>Ph.D. </b> <br> PostDoc <br> </tdstyle="text-align:> 
                        <td> Office: Alkek 1619 <br> Phone: 713 798-4951 <br> medhat.mahmoud [at] bcm.edu
                        <br> <a href="https://github.com/MeHelmy">Home page</a>  
                        <br> 
                        <a href="https://github.com/MeHelmy" target="_blank"><img alt="GitHub" src="img/GitHub-Mark-32px.png"</a> 
                        <a href="https://twitter.com/MedhatHelmy7" target="_blank"><img alt="Twitter" src="img/twitter.png"</a> 
                        <a href="https://scholar.google.com/citations?user=hPJQuMgAAAAJ&hl=en&oi=sra" target="_blank"><img alt="Google-Scholar" src="img/googlescholar-32.png"</a> 
                         </td>
                    </tr>
                    <tr><td colspan=3>&nbsp;<br></tr>
             
             
                    <tr><td colspan=3>&nbsp;<br></tr>
                    <tr>
                        <td> <a href="/"><img alt="headshot" src="img/sairam.jpg" style="width: 200px; height: 200px;"></a></td>
                        <td><b>Sairam Behera, Ph.D.</b><br> PostDoc <br> </tdstyle="text-align:>
                        <td> Office: Alkek 1619 <br> Phone: 713 798-4951 <br> Sairam.Behera [at] bcm.edu<br> <a href="https://srbehera.github.io/">Home page</a><br> </td>
                    </tr>
                    <tr><td colspan=3>&nbsp;<br></tr>
                     
                    <tr><td colspan=3>&nbsp;<br></tr>                     
                    <tr>
                        <td><img alt="headshot" src="img/moritz.png" style="width: 150px; height: 190px;"></td>
                        <td><b>Moritz Smolka, B.Sc.</b><br> Visiting Scientist <br> </tdstyle="text-align:>
                        <td> <br> moritz.smolka [at] bcm.edu<br> <a href="/">Home page</a><br> </td>
                    </tr>
                    <tr><td colspan=3>&nbsp;<br></tr>

                    <tr><td colspan=3>&nbsp;<br></tr>
                    <tr>
                       <td><img alt="headshot" src="img/damaris.jpg" style="width: 150px; height: 200px;"></td>
                       <td><b>Damaris Lattimer</b><br> Internship Student <br> </tdstyle="text-align:>
                       <td> <br> damaris.lattimer [at] bcm.edu <br> <a href="/">Home page</a><br> </td>
                    </tr>
                    <tr><td colspan=3>&nbsp;<br></tr>
                     
                    <tr><td colspan=3>&nbsp;<br></tr>
                        <tr>
                            <td><img alt="headshot" src="img/philippe.png" style="width: 150px; height: 200px;"></td>
                            <td><b>Philippe Sanio, B.Sc.</b><br>Internship Student <br> </tdstyle="text-align:>
                            <td> <br> phillipe.sanio [at] bcm.edu <br> <a href="https://github.com/philippesanio">GitHub</a><br> </td>
                        </tr>
                    <tr><td colspan=3>&nbsp;<br></tr>
                </table>



                <span class="contenthead"><h3>Honor Role</h3> </span><hr>
                <table class="intro" width="100%">

                 

                </table>
            </div>

        </div>
</section>
